.app {
  border: 1px solid #ababab;
  box-shadow: 0px 0px 2px 2px #ababab;
  max-width: 1200px;
  margin: 48px auto;
  padding: 24px;
}

.app__assignment-container {
  max-width: 800px;
  padding: 24px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.char-list {
  display: flex;
}