.app {
  border: 1px solid #ababab;
  box-shadow: 0px 0px 2px 2px #ababab;
  max-width: 1400px;
  margin: 48px auto;
  padding: 24px;
}

.app__page-title {
  text-align: center;
  text-shadow: 2px 2px 2px #ababab;
}

.app__assignment-container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.char-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}

.app__text-input {
  width: 400px;
  padding: 4px;
  margin: 8px 0;
}